.product{
    width: 300px;
    height: 410px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative; 
}

.product-info{
    margin: 0 14px;
}

.product-info p{
    margin-bottom: 0;
    margin-top: 5px;
}

.btn-cart{
    width: 100%;
    background: #FFD814;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cart:hover{
    background-color: #f1d339;
}

.btn-text{
    margin-right: 5px;
}